<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-7 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <img src="../img/logos/blue_logo_medium.png"  class="logo-blue-md" alt="branding logo"> 
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>INVESTIDOR PRIVADO</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal" method="post" action="/users/investidor_privado" novalidate>
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Nome" value="{{ user.nome}}" tabindex="1">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Nome de utilizador" value="{{ user.username}}" tabindex="2">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="nome_apresentacao" id="nome_apresentacao" class="form-control input-lg" placeholder="Nome de apresentacao" value="{{ user.nome}}" tabindex="3">
                                                    <div class="form-control-position">
                                                        <i class="ft-phone"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="nif" id="nif" class="form-control input-lg" placeholder="NIF" value="{{ user.nif}}" tabindex="4">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="telemovel" id="telemovl" class="form-control input-lg" placeholder="Telemovel" value="{{ user.phone}}" tabindex="5">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" value="{{ user.email}}" tabindex="6" required data-validation-required-message="Please enter email address.">
                                                    <div class="form-control-position">
                                                        <i class="ft-mail"></i>
                                                    </div>
                                                    <div class="help-block font-small-3"></div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="country" id="country" tabindex="7">
                                                        <option value="Portugal">Portugal</option>
                                                        <option value="Espanha">Espanha</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-globe"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-5 col-md-5">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="morada" id="morada" class="form-control input-lg" placeholder="Morada" tabindex="8">
                                                    <div class="form-control-position">
                                                        <i class="ft-mail"></i>
                                                    </div>
                                                    <div class="help-block font-small-3"></div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-3 col-md-3">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" name="codigo_postal" id="codigo_postal" class="form-control input-lg" placeholder="Codigo Postal" tabindex="9">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-4 col-md-4">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="distrito" id="distrito" tabindex="10">
                                                        <option value="null" selected="selected">Selecione o distrito</option>
                                                        <option value="Aveiro">Aveiro</option>
                                                        <option value="Beja">Beja</option>
                                                        <option value="Braga">Braga</option>
                                                        <option value="Bragança">Bragança</option>
                                                        <option value="Castelo Branco">Castelo Branco</option>
                                                        <option value="Coimbra">Coimbra</option>
                                                        <option value="Evora">Evora</option>
                                                        <option value="Faro">Faro</option>
                                                        <option value="Guarda">Guarda</option>
                                                        <option value="Leiria">Leiria</option>
                                                        <option value="Lisboa">Lisboa</option>
                                                        <option value="Portalegre">Portalegre</option>
                                                        <option value="Porto">Porto</option>
                                                        <option value="Santarem">Santarem</option>
                                                        <option value="Setubal">Setubal</option>
                                                        <option value="Viana do Castelo">Viana do Castelo</option>
                                                        <option value="Vila Real">Vila Real</option>
                                                        <option value="Viseu">Viseu</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="date" name="date" id="date" class="form-control input-lg" placeholder="date" tabindex="11">
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <select class="form-control" name="estado_civil" id="estado_civil" tabindex="12">
                                                        <option value="null">Estado Civil</option>
                                                        <option value="solteiro">Solteiro/a</option>
                                                        <option value="casado">Casado/a</option>
                                                        <option value="divorciado">Divorciado/a</option>
                                                        <option value="viuvo">Viuvo/a</option>
                                                    </select>
                                                    <div class="form-control-position">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <button type="submit" class="btn btn-info btn-lg btn-block">
                                                    <i class="ft-user"></i> Continuar</button>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                <a href="login" class="btn btn-danger btn-lg btn-block">
                                                    <i class="ft-unlock"></i> Sair</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
